<ion-view hide-back-button="false" hide-nav-bar="true" can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-energized" ng-click="scrollTop()">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Chat Details</h1>
    <button class="button button-clear" ng-click="back()">Close</button>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div class="margin-top20 text-center">
      <img id="chatPic" class="chatDetailsPic" imageonload="constrainProportion()" ng-src="{{chat.image}}" ng-click="changeChatPic()" />
      </div>
   <!-- check superposition of chat name and member # -->
     <div>
      <h4 class="font-bold"><span class="inline-icon"><i class="icon ion-chatboxes energized"></i></span> {{chat.name}}</h4>

      <h4 class="font-bold">Last Active: {{chat.chatmessages[chat.chatmessages.length - 1].date +  "  " + chat.chatmessages[chat.chatmessages.length - 1].time}}</h4>
      <h4 class="font-bold">Messages: {{chat.chatmessages.length}}</h4>
     <h4 class="font-bold" > Tags: </h4><div class= "chatTags" ng-repeat= "chatTag in chat.chatTags" >
         <li class = "chatTag">{{chatTag.text}}
         </li>
    </div>

    <div ng-show="mode == 'Chat'">
      <div class="margin-left10 text-left">
        <h4 class="font-bold margin-bottom-5"><span class="inline-icon"><i class="icon ion-ios-people energized"></i></span>Participants: {{chat.users.length}}</h4>
        <!-- <div class="row" ng-repeat="user in chat.users"> -->
          <ion-list>
          <ion-item class="item item-avatar clear-border clear-margin" ng-repeat="user in chat.users">
            <img ng-src="{{user.profilePic}}">
            <h2 class="font-bold">{{user.name}}</h2>
            <p class="font-bold">@{{user.username}}</p>
          </ion-item>
        </ion-list>
        <!-- </div> -->
      </div>
      <div class="row margin-top-10">
        <div class="col">
          <ion-item class="item-icon-left clear-border clear-margin" ng-if= "isChatCreator" ng-click="addParticipant()">
            <i class="icon ion-person-add energized"></i>
            <h2 class="font-bold">Add Participant</h2>
          </ion-item>
        </div>
      </div>
    </div>
    <div ng-show="mode == 'Add'">
      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for people or username" ng-model="friendSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="friendSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="friend in friends | friendFilter: friendSearch | orderBy: 'name'">
        <div class="col clear-padding-margin">
          <ion-item class="item-avatar clear-border" ng-click="addToChat(friend)">
            <img ng-src="{{friend.profilePic}}">
            <h2 class="font-bold">{{friend.name}}<div class="online-on" ng-if="friend.online"></div></h2>
            <p class="font-bold">@{{friend.username}}</p>
          </ion-item>
        </div>
      </div>
      <div class="row margin-top-10">
        <div class="col">
          <ion-item class="item-icon-left clear-border clear-margin" ng-click="cancelAddParticipant()">
            <i class="icon ion-person-add energized"></i>
            <h2 class="font-bold">Cancel Add Participant</h2>
          </ion-item>
        </div>
      </div>
    </div>
      </div>
  </ion-content>

    <ion-footer-bar align-title="center" class="bar-energized" >
    <h1 class="title" ng-if= "isChatCreator" ng-click="deleteChat()" ng-if="chat.users.length <= 1">Delete Chat</h1>
  </ion-footer-bar>
      <ion-footer-bar align-title="center" class="bar-energized"  ng-if= "isChatCreator===false">
      <h1 class="title" ng-click="leaveChat()" ng-if="chat.users.length > 1">Leave Chat</h1></ion-footer-bar>
</ion-view>
