<ion-view hide-back-button="false" hide-nav-bar="true" can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-energized" ng-click="scrollTop()">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <button class="button button-clear" ng-click="back()">Back</button>
    <h1 class="title">{{chatName}}</h1>
    <button class="button button-clear" ng-click="details()"><i class="icon ion-gear-b"></i></button>
  </ion-header-bar>
  <ion-content ng-click="scrollBottom()" class="has-footer">
    <ol class="messages padding-top10">
      <li class="{{chatmessage.class}} margin-left10 margin-right10" ng-repeat="chatmessage in chatmessages">
        <div class="avatar">
          <img ng-src="{{chatmessage.profilePic}}">
        </div>
        <div class="msg" ng-if="chatmessage.type == 'text'">
          <p>{{chatmessage.chatmessage}}</p>
          <time>
            <i class="icon ion-clock"></i> {{chatmessage.time}}
          </time>
        </div>
        <div class="msg" ng-if="chatmessage.type == 'image'">
          <img ng-src='{{chatmessage.image}}' imageonload="scrollBottom()" alt='' ng-click="enlargeImage(chatmessage.image)"/>
          <time>
            <i class="icon ion-clock"></i> {{chatmessage.time}}
          </time>
        </div>
      </li>
    </ol>
  </ion-content>


    <!--include gifPanel-->

  <!--incorporate giphy toolbar-->

    <div class="giphy-container" ng-show="isGifShown">
    <div class="text-center" ng-show="isGifLoading">
      <ion-spinner icon="ios"></ion-spinner>
    </div>
    <ion-scroll direction="x" class="scroll-horizontal">
      <div class="text-center scroll-item" ng-repeat="gif in gifs track by $index" ng-click="sendGif(gif.images.fixed_height_small.url)">
        <img ng-src="{{gif.images.fixed_height_small.url}}" alt="">
      </div>
    </ion-scroll>
  </div>

 <ion-footer-bar keyboard-attach class="item-input-inset bar-light" elastic ng-click="scrollBottom()">

    <div class="button-bar">
     <button type="button" class="button button-calm icon ion-camera " ng-click="sendPictureMessage()"></button>
      <button type="button" class="button button-positive n" ng-show="!isGifShown" ng-click="openGiphy()">
        <span class="font-bold text-xs">GIF</span>
      </button>
      <button type="button" class="button button-clear button-assertive " ng-show="isGifShown" ng-click="isGifShown = false">
        <i class="icon ion-close-round"></i>
      </button>
    </div>

    <label class="item-input-wrapper no-bg">
      <textarea rows="1" msd-elastic placeholder="Type a ChatMessage ..." input type="text" id="type-area" ng-model="chatmessage" ng-show="!isGifShown">
      </textarea>
      <input type="search" placeholder="Find a GIF..." id="type-area2" ng-model="gifQuery" ng-model-options="{ debounce: 500 }" ng-show="isGifShown">
    </label>
    <div class="footer-btn-wrap">
      <button type=submit class="button button-royal footer-btn" ng-click="sendTextMessage()" ng-disabled="chatmessage.length == 0" ng-show="!isGifShown">
        Send
      </button>
    </div>
  </ion-footer-bar>


</ion-view>
