<!-- *class view-editProfile -->
<ion-modal-view class="view-editProfile">
      <ion-content>
          <!-- *class logo / logo company or app -->
          <div class="logo">
              <img ng-src="img/temba.png" alt="Temba">
          </div>

          <!-- data entry with button -->
        <form ng-submit="doEdits()">
              <div class="list list-inset">

                <label class="item item-input">
                <textarea name="textarea_bio" cols="40" rows="5"  style="color:#F45D4C" placeholder="Tell us about yourself" ng-model="editProfileData.userBio" ng-minlength="5" ng-maxlength="140" ></textarea>
                </label>
                <label class="item item-input">
                <input type="text" placeholder="Add your personal website/blog/tumblr url" ng-model="editProfileData.userWebUrl">
                </label>
              <label class="item item-input">
                <tags-input ng-model ="editProfileData.userTags" placeholder="Add some topic tags you'd like to follow"
                            ></tags-input>
                </label>
                <button class="button button-block  button-assertive" input type="submit" ng-click="doEdits()">
                   Update your profile
                </button>
                <button class="button button-block button-outline button-assertive" ng-click="closeEditProfile()">
                   Close this window
                </button>

            </div>
        </form>
      </ion-content>
</ion-modal-view>
