<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="list text-center padding">
        <div class="logo"> <img src="img/temba_app_logo.png"></img></div>
      <h2><span class="bold energized">Forgot Your Password?</span></h2>
      <h4 class="line-height-160">Don't worry! Just enter your email address and you are good to go!</h4>
    </div>
    <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && resetPassword(user)">
      <div class="list">
        <label class="item item-input item-clear margin-bottom10">
          <span class="input-label">Email:</span>
          <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <!-- <input type="submit" class="button button-block button-positive" value="Forgot Password" ng-disabled="forgotPasswordForm.$invalid"> -->
      </div>
    </form>
    <div class="button-bar margin-top-10">
      <button class="button button-block button-dark" ng-click="back()">Back to Login</button>
      <button class="button button-block button-positive" ng-click="resetPassword(user)" ng-disabled="forgotPasswordForm.$invalid">Send Password Reset Link</button>
    </div>
    <!-- <button onclick="location.href='#/login';" class="button button-assertive button-block button-no-margin-top">Back to Login</button> -->
  </ion-content>
</ion-view>