<ion-view>

  <!--incorporate giphy toolbar-->
    
    <div class="giphy-container" ng-show="isGifShown">
    <div class="text-center" ng-show="isGifLoading">
      <ion-spinner icon="ios"></ion-spinner>  
    </div>
    <ion-scroll direction="x" class="scroll-horizontal">
      <div class="text-center scroll-item" ng-repeat="gif in gifs track by $index" ng-click="sendGif(gif.images.fixed_height_small.url)">
        <img ng-src="{{gif.images.fixed_height_small.url}}" alt="">
      </div>
    </ion-scroll>
  </div>    
    
 <ion-footer-bar keyboard-attach class="item-input-inset bar-light" elastic ng-click="scrollBottom()">
    <div class="footer-btn-wrap">
	 <a class="button button-icon icon ion-camera energized" ng-click="sendPictureMessage()"></a>	
      <button type="button" class="button button-positive footer-btn" ng-show="!isGifShown" ng-click="openGiphy()">
        <span class="font-bold text-xs">GIF</span>
      </button>
      <button type="button" class="button button-clear button-assertive footer-btn" ng-show="isGifShown" ng-click="isGifShown = false">
        <i class="icon ion-close-round"></i>
      </button>
    </div>
    <label class="item-input-wrapper no-bg">
      <textarea rows="1" msd-elastic placeholder="Message" input type="text" id="type-area" ng-model="message" ng-show="!isGifShown">
      </textarea>
      <input type="search" placeholder="Search for a GIF..." id="type-area2" ng-model="gifQuery" ng-model-options="{ debounce: 500 }" ng-show="isGifShown">
    </label>
    <div class="footer-btn-wrap">
      <button type=submit class="button button-clear footer-btn" ng-click="sendTextMessage()" ng-disabled="message.length == 0" ng-show="!isGifShown">
        Send
      </button>
    </div>
  </ion-footer-bar>
</ion-view>