<!--from Trendicity -->
<ion-view title="Home">
  <ion-nav-bar>
      <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-ios-search" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <!-- <ion-tabs class="tabs-icon-top">
      
   
      <!-- Messages Tab View 
      <ion-tab title="Messages" icon="icon ion-map" ui-sref="app.home.messages">
          <ion-nav-view name="tab-messages"></ion-nav-view>
      </ion-tab>


      <!-- Groups Tab View
      <ion-tab title="Groups" icon="icon ion-ios-browsers" ui-sref="app.home.groups">
          <ion-nav-view name="tab-groups"></ion-nav-view>
      </ion-tab>


      <!-- Friends Tab View 
      <ion-tab title="Friends" icon="icon ion-ios-paper" ui-sref="app.home.friends">
          <ion-nav-view name="tab-friends"></ion-nav-view>
      </ion-tab>


      <!-- Profile Tab View 
      <ion-tab title="Profile" icon="icon ion-ios-paper" ui-sref="app.home.profile">
          <ion-nav-view name="tab-profile"></ion-nav-view>
      </ion-tab>
  </ion-tabs> -->
<div ng-include src="'templates/tabs.html'"></div>
</ion-view>