<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark ">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" ng-controller="appController" is-enabled="true" width="275" class="menu menu-left" style="width: 275px; z-index:0;">
    <header class="bar bar-header bar-dark">
        <button class="button button-icon icon ion-ios-compose-outline"></button>

      <h1 class="title">Temba</h1>
         <button class="button button-icon icon ion-chatbubble" ng-click ="showStartChat()"></button>
    </header>
    <ion-content class="has-header">
             <ul class="list">
                <!-- item-avatar user with status -->
                <a class="item item-avatar" nav-clear>
                    <img src="{{profile.profilePic}}">
                    <h2>{{profile.username}}
                       </h2>

                    <p>{{editProfileData.userBio}}</p>
                    <p>{{editProfileData.userWebUrl}}</p>
                </a>
                <!-- menu items  with style active, inactive on off -->
                <a class="item item-icon-left"  ng-class="{active:isActive('/app/profile')}" nav-clear menu-close ui-sref="app.profile">
                    <i class="icon ion-ios-person-outline"></i>Profile
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/messages')}" nav-clear menu-close ui-sref="app.messages">Messages
                    <i class="icon ion-ios-chatbubble-outline"> <span class="badge badge-assertive icon-badge">{{unreadMessages}}</span></i>

                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/groups')}" nav-clear menu-close ui-sref="app.groups">Groups
                    <i class="icon ion-ios-people-outline"> <span class="badge badge-assertive icon-badge">{{unreadGroupMessages}}</span></i>
                </a>
                  <a class="item item-icon-left" ng-class="{active:isActive('/app/chats')}" nav-clear menu-close ui-sref="app.chats">Chats
                    <i class="icon ion-chatbubbles"><span class="badge badge-assertive icon-badge">{{unreadChatmessages}}</span></i>
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/friends')}" nav-clear menu-close ui-sref="app.friends">
                    <i class="icon ion-happy-outline"><span class="badge badge-assertive icon-badge">{{friendRequests}}</span></i>Friends
                </a>
                  <a class="item item-icon-left" ng-class="{active:isActive('/app/tab-followers')}" nav-clear menu-close ui-sref="app.followers">
                    <i class="icon ion-plus-circled"></i>Followers
                </a>
                  <a class="item item-icon-left" ng-class="{active:isActive('/app/tab-favorites')}" nav-clear menu-close ui-sref="app.favorites">
                    <i class="icon ion-ios-star-outline"></i>Favorites
                </a>
                   <a class="item item-icon-left" ng-class="{active:isActive('/app/search')}" nav-clear menu-close ui-sref="app.search">
                    <i class="icon ion-ios-search"></i>Search
                </a>


                <!-- *class quit / style logout -->
                <a class="item item-icon-left quit" nav-clear menu-close ng-click="logout()">
                    <i class="icon ion-ios-arrow-thin-right"></i>Logout
                </a>
            </ul>

      <!--<ion-list>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/messages">
          Messages
        </ion-item>
        <ion-item menu-close href="#/app/groups">
         Groups
        </ion-item>
        <ion-item menu-close href="#/app/friends">
          Friends
        </ion-item>
      </ion-list>-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<multi-view-modal id="modal1" erasable="false" returnable="true">
  <view-item name="startChat1" url="templates/startChat1.html" root="true"></view-item>
  <view-item name="startChat2" url="templates/startChat2.html" parent="startChat1"></view-item>
</multi-view-modal>
