<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title" >Search</h1>
    </ion-header-bar>
      <ion-content class="has-footer">
        <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for people" ng-model="searchUser" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
          <button class="button button-clear button-energized" ng-click="searchUser = undefined"><i class="icon ion-android-close"></i></button>
        </div>
        </div>
      </div>
      </ion-content>
