<!-- *class view-startChat1 -->
<ion-modal-view class="view-startChat1">
<ion-header-bar class="bar-royal" align-title="center"><h1 class="title">Start a Chat !</h1>
  <button ng-click="closeStartChat()" class="button button-clear pull-left ion-close-round circle-exit"></button>
  <button ng-click="activateMenu('startChat2')" class="button button-clear pull-right ion-chevron-right"></button>
</ion-header-bar>

     <ion-content>

<ul class="list">
<div>
    <span class="field-info-wrapper">
  <!-- The info icon needs to be outside of the label.  It will be positioned with CSS -->
  <i class="icon ion-information-circled field-info-icon" info-topic="chatName"></i>
  <label
    class="item item-input item-stacked-label item-icon-right">
    <li class="item item-input">
        <label class="item item-input">
                <input name="textarea_chatname" cols="40" rows="3" placeholder="chat title" ng-model="startChat.chatName" ng-minlength="5" ng-maxlength="140" > Name your chat
                </label>
            </li>
        </label>
    </span>
    </div>

    <div>
     <li class="item item-toggle" ion-toggle-text ng-model="simple">
        Make your chat <b>public</b> so anyone can join? <b>{{yes || no }}</b>
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>
    </div>

    <div>
    <li class="item item-toggle" ion-toggle-text ng-model="simple">
        Make your chat <b>discoverable</b> so anyone can view it? <b>{{yes || no }}</b>
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>
    </div>

    <div>
    <span class="field-info-wrapper">
  <!-- The info icon needs to be outside of the label.  It will be positioned with CSS -->
  <i class="icon ion-information-circled field-info-icon" info-topic="hashTags"></i>
  <label
    class="item item-input item-stacked-label item-icon-right">
    <li class="item item-input">
        <label class="item item-input">
                <tags-input ng-model ="tags"></tags-input>Add hashtags for discovery
                </label>
    </li>
      </span>
        </div>

     <li class="item item-toggle" ion-toggle-text ng-model="simple">
                 Upload an image to display on the front page? <b>{{yes || no }}</b>
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>


 </ul>

      </ion-content>

</ion-modal-view>
