<!-- *class view-startChat1 -->
<ion-modal-view class="view-startChat2">
<ion-header-bar class="bar-royal" align-title="center"><h1 class="title">Start a Chat !</h1>
      <button ng-click="activateMenu('startChat1')" class="button button-clear pull-left ion-chevron-left"></button>
      <button ng-click="closeStartChat()" class="button button-clear pull-left ion-close-round circle-exit"></button>
    </ion-header-bar>
<ion-content>
    <div> Search  for users to invite to your chat</div>
<div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for people" ng-model="searchUser" />
          </label>
        </div>
    </div>

          <div class="row" ng-repeat="user in users | userFilter: searchUser | orderBy: 'name'">
        <div class="col col-75 clear-padding-margin">
          <ion-item class="item-avatar clear-border">
            <img ng-src="{{user.profilePic}}">
            <h2 class="font-bold">{{user.name}}</h2>
            <p class="font-bold">@{{user.username}}</p>
          </ion-item>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-top10 margin-left20">
            <button class="button button-clear button-energized" ng-click="sendRequest(user)"><i class="icon ion-person-add"></i></button>
          </div>
        </div>
      </div>
 </ion-content>

</ion-modal-view>
