<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized" ng-click="scrollTop()">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
     <button class="button button-clear" ng-click="back()">Back</button>
    <h1 class="title" >Followers</h1>
