<ion-view hide-back-button="false" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <button class="button button-clear" ng-click="cancel()" ng-if="mode == 'Compose'">Cancel</button>
    <h1 class="title" ng-if="mode == 'Chats'">Chats</h1>
    <h1 class="title" ng-if="mode == 'Compose'">Start a Chat !</h1>
    <button class="button button-clear" ng-click="compose()" ng-if="mode == 'Chats'"><i class="icon ion-plus"></i></button>
    <button   type=submit class="button button-clear" ng-click="createChat()" ng-if="mode == 'Compose'" ng-disabled="chat.members.length <= 0 || chat.name.length < 5">Create</button>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div ng-if="mode == 'Chats'">
      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for chats" ng-model="chatSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="chatSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div ng-repeat="chat in chats | orderBy: 'lastActiveDate':true | chatFilter: chatSearch as chatSearchResults" ng-if="$index % 2 == 0" class="row">

        <div class="col col-30 text-center clear-padding-margin" ng-click="enterChat(chatSearchResults[$index])">

          <a class="item clear-border">
              <img class="chatListPic" ng-src="{{chatSearchResults[$index].image}}"/>

            <span ng-if="chat.unreadChatmessages > 0" class="badge badge-assertive">{{chatSearchResults[$index].unreadChatmessages}}</span>
            <h2 class="font-bold">{{chatSearchResults[$index].name}}</h2>
            <p>{{chatSearchResults[$index].chatmessages[chatSearchResults[$index].chatmessages.length - 1].date}}</p>
            <p>{{chatSearchResults[$index].members}}</p>
          </a>

        </div>

   <div class="col col-50 text-center clear-padding-margin" ng-if="chatSearchResults.length > ($index + 1)" ng-click="enterChat(chatSearchResults[$index + 1])">

          <a class="item clear-border">
            <img class="chatListPic" ng-src="{{chatSearchResults[$index + 1].image}}"/>
            <span ng-if="chatSearchResults[$index + 1].unreadChatmessages > 0" class="badge badge-assertive">{{chatSearchResults[$index + 1].unreadChatmessages}}</span>
            <h2 class="font-bold">{{chatSearchResults[$index + 1].name}}</h2>
            <p>{{chatSearchResults[$index + 1].messages[chatSearchResults[$index + 1].messages.length - 1].date}}</p>
            <p>{{chatSearchResults[$index + 1].members}}</p>
          </a>

        </div>
      </div>
    </div>

      <!--START COMPOSE CHAT SCREEN -->
     <section class = "home-container"ng-if="mode == 'Compose'" >

      <div class="row padding">
        <div class="col col-33 clear-padding-margin margin-top10">
          <img ng-src="{{chat.image}}" id="chatPic" class="chatComposePic" imageonload="constrainProportion()" ng-click="changechatPic()" />
          </div> <!---column 1--->

         <div class="col col-67">
         <div class ="column-box">
         <div class ="row-start">
          <label class="item item-input clear-border padding-top-30  padding-bottom-30">
            <span class="input-label inline-chat-icon"><i class="icon ion-chatboxes energized"></i></span>
            <input class="input-style" name="name" type="text" ng-model="chat.name" placeholder="Name your chat!">
          </label>
             </div>

            <div class ="row-start">
          <label class="item item-input clear-border padding-top-30 padding-bottom-30">
            <span class="input-label inline-chat-icon"><i class="icon ion-ios-people energized"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" value="Members: {{chat.members.length}}">
          </label>

        </div>
        </div> <!--box-->
        </div><!---column 2--->
        </div><!---row 0--->
         <!--from StartChat -->
     <div>
<ul  class="list">
    <li class="item item-input" >
        <label class="item item-input">
                <tags-input ng-model ="chatTags"></tags-input>Add  tags for discovery
        </label>
    </li>

    <ion-toggle class="item item-toggle"  ng-model="public" toggle-class="toggle-royal" ng-change="toggleChange1()" toggle-text>Make your chat <b>public</b> so anyone can join? <b>{{yes || no }}</b> </ion-toggle>

    <ion-toggle class="item item-toggle"  ng-model="discoverable" toggle-class="toggle-royal" ng-change="toggleChange2()" toggle-text>  Make your chat <b>discoverable</b> so anyone can view it? <b>{{yes || no }}</b> </ion-toggle>

  </ul>

    <label class="item item-input">
         <textarea name="chat_description" cols="40" rows="5"  style="color:#F45D4C" placeholder="What's this chat about?" ng-model="chat.chatDescription" ng-minlength="5" ng-maxlength="140" ></textarea>
                </label>
         </div>
      <!--end section from StartChat -->

          <div ng-repeat="member in chat.members track by $index" ng-if="$index % 3 == 0" class="row">
            <div class="col col-33 margin-top10" ng-click="remove($index)">
              <img ng-src="{{chat.members[$index].profilePic}}" class="chatMemberPic" />
            </div>
            <div class="col col-33 margin-top10" ng-if="chat.members.length > ($index + 1)" ng-click="remove($index + 1)">
              <img ng-src="{{chat.members[$index + 1].profilePic}}" class="chatMemberPic" />
            </div>
            <div class="col col-33 margin-top10" ng-if="chat.members.length > ($index + 2)" ng-click="remove($index + 2)">
              <img ng-src="{{chat.members[$index + 2].profilePic}}" class="chatMemberPic"/>
            </div>
          </div>

      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for friends to invite" ng-model="friendSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="friendSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="friend in friends | friendFilter: friendSearch | orderBy: 'name'">
        <div class="col clear-padding-margin">
          <ion-item class="item-avatar clear-border" ng-click="addToChat(friend)">
            <img ng-src="{{friend.profilePic}}">
            <h2 class="font-bold">{{friend.name}}<div class="online-on" ng-if="friend.online"></div></h2>
            <p class="font-bold">@{{friend.username}}</p>
          </ion-item>
        </div>
      </div>


          </section><!--Compose-->
    </ion-content>
  <!--<div ng-include src="'templates/home.html'"></div>-->
</ion-view>
