<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <button class="button button-clear" ng-click="cancel()" ng-if="mode == 'Compose'">Cancel</button>
    <h1 class="title" ng-if="mode == 'Groups'">Groups</h1>
    <h1 class="title" ng-if="mode == 'Compose'">New Group</h1>
    <button class="button button-clear" ng-click="compose()" ng-if="mode == 'Groups'"><i class="icon ion-plus"></i></button>
    <button class="button button-clear" ng-click="createGroup()" ng-if="mode == 'Compose'" ng-disabled="group.members.length <= 0 || group.name.length < 5">Create</button>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div ng-if="mode == 'Groups'">
      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for groups" ng-model="groupSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="groupSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div ng-repeat="group in groups | orderBy: 'lastActiveDate':true | groupFilter: groupSearch as groupSearchResults" ng-if="$index % 2 == 0" class="row">

        <div class="col col-30 text-center clear-padding-margin" ng-click="enterGroup(groupSearchResults[$index])">

          <a class="item clear-border">
              <img class="groupListPic" ng-src="{{groupSearchResults[$index].image}}"/>

            <span ng-if="group.unreadMessages > 0" class="badge badge-assertive">{{groupSearchResults[$index].unreadMessages}}</span>
            <h2 class="font-bold">{{groupSearchResults[$index].name}}</h2>
            <p>{{groupSearchResults[$index].messages[groupSearchResults[$index].messages.length - 1].date}}</p>
            <p>{{groupSearchResults[$index].members}}</p>
          </a>

        </div>

        <div class="col col-50 text-center clear-padding-margin" ng-if="groupSearchResults.length > ($index + 1)" ng-click="enterGroup(groupSearchResults[$index + 1])">

          <a class="item clear-border">
            <img class="groupListPic" ng-src="{{groupSearchResults[$index + 1].image}}"/>
            <span ng-if="groupSearchResults[$index + 1].unreadMessages > 0" class="badge badge-assertive">{{groupSearchResults[$index + 1].unreadMessages}}</span>
            <h2 class="font-bold">{{groupSearchResults[$index + 1].name}}</h2>
            <p>{{groupSearchResults[$index + 1].messages[groupSearchResults[$index + 1].messages.length - 1].date}}</p>
            <p>{{groupSearchResults[$index + 1].members}}</p>
          </a>

        </div>
      </div>
    </div>

      <!--START COMPOSE GROUP SCREEN -->
    <div ng-if="mode == 'Compose'">
      <div class="row padding">
        <div class="col col-33 clear-padding-margin margin-top10">
          <img ng-src="{{group.image}}" id="groupPic" class="groupComposePic" imageonload="constrainProportion()" ng-click="changeGroupPic()" />
        </div>
        <div class="col col-67">
          <label class="item item-input clear-border margin-top-20 margin-bottom-20">
            <span class="input-label inline-group-icon"><i class="icon ion-chatboxes energized"></i></span>
            <input class="input-style" name="name" type="text" ng-model="group.name" placeholder="Group Name">
          </label>
            <div><!--added to create vertical space in web view -->
          <label class="item item-input clear-border margin-bottom-20">
            <span class="input-label inline-group-icon"><i class="icon ion-ios-people energized"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" value="Members: {{group.members.length}}">
          </label>
        </div><!---vert space add --->
<div ng-repeat="member in group.members track by $index" ng-if="$index % 3 == 0" class="row">
            <div class="col col-33 margin-top10" ng-click="remove($index)">
              <img ng-src="{{group.members[$index].profilePic}}" class="groupMemberPic"/>
            </div>
            <div class="col col-33 margin-top10" ng-if="group.members.length > ($index + 1)" ng-click="remove($index + 1)">
              <img ng-src="{{group.members[$index + 1].profilePic}}" class="groupMemberPic"/>
            </div>
            <div class="col col-33 margin-top10" ng-if="group.members.length > ($index + 2)" ng-click="remove($index + 2)">
              <img ng-src="{{group.members[$index + 2].profilePic}}" class="groupMemberPic"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for people or username" ng-model="friendSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="friendSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="friend in friends | friendFilter: friendSearch | orderBy: 'name'">
        <div class="col clear-padding-margin">
          <ion-item class="item-avatar clear-border" ng-click="addToGroup(friend)">
            <img ng-src="{{friend.profilePic}}">
            <h2 class="font-bold">{{friend.name}}<div class="online-on" ng-if="friend.online"></div></h2>
            <p class="font-bold">@{{friend.username}}</p>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<div ng-include src="'templates/home.html'"></div>-->
</ion-view>
