<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button icon ion-navicon" menu-toggle="left"></button>  
    <h1 class="title" >Favorites</h1>