<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">

      <button class="button icon ion-navicon" menu-toggle="left"></button>

    <h1 class="title">Profile</h1>
      <button class="button button-icon ion-ios-checkmark-empty" ng-click="editProfile()"></button>

  </ion-header-bar>
  <ion-content clas="has-footer">
        <!-- *view-profile / container -->
        <div class="view-profile">
            <!-- *profile-bg / background color -->
            <div class="profile-bg">
                <a class="item item-avatar-mast" nav-clear>

                    <!-- *content-img / container -->        <div class="content-img">
                    <img ng-src="{{profile.profilePic}}" id="profilePic"   imageonload="constrainProportion()"   ng-click="changeProfilePic()"/></div>


                    <h2>{{profile.username}}</h2>
                    <p>{{editProfileData.userBio}}</p>
                    <p>{{editProfileData.userWebUrl}}</p>
                </a>
            </div>
            </div><!--view profile-->
             <!-- button bar with style FOLLOWER / FOLLOWING -->
            <div class="button-bar">
                <a class="button"  href="#/app/followers">
                    <h2>#</h2>
                    <p>FOLLOWERS</p>
                </a>
                <a class="button">
                    <h2>#</h2>
                    <p>FOLLOWING</p>
                </a>
            </div>



<!-- Tags section -->

 <div class="bar bar-divider bar-royal" >
  <h2 class="title" >Favorite Tags</h2>
</div>
             <div  style="margin-top: 70px ">
           <div class= "userTags" ng-repeat= "userTag in editProfileData.userTags" >
         <li class = "userTag">{{userTag.text}}
         </li>
    </div>
     </div>


    <!-- Chat cards section -->

    <div class="bar bar-divider bar-royal" >
  <h2 class="title" >Chats</h2>
</div>

    <div  style="margin-top: 50px ">

   <div  ng-repeat = "chat in chats | orderBy: 'lastActiveDate':true | chatFilter: chatSearch as chatSearchResults"  ng-if="$index % 2 == 0" class="row">

<div class ="card responsive-card" >
  <div class="item item-avatar">
    <img src="{{chat.chatCreatorProfilePic}}" ng-click="goToProfile(chat.members[$index])">
    <h2 class="font-bold" style="color:#f45d4c" ng-click="enterChat(chatSearchResults[$index])">{{chatSearchResults[$index].name}}</h2>
    <p>{{chatSearchResults[$index].chatmessages[chatSearchResults[$index].chatmessages.length - 1].date}}</p>
  </div>

  <div class="item item-body" ng-click="enterChat(chatSearchResults[$index])">
    <img class="full-image" ng-src="{{chatSearchResults[$index].image}}">
      <span ng-if="chat.unreadChatmessages > 0" class="badge badge-assertive">{{chatSearchResults[$index].unreadChatmessages}}</span>
    <p>
      Chat description
    </p>
    <p>
      <a href="#" class="subdued"># Favorites</a>
      <a href="#" class="subdued"># Participants</a>
    </p>
  </div>

     </div> <!--end odd card-->


    <div class ="card responsive-card" ng-if="chatSearchResults.length > ($index + 1)">
     <div class="item item-avatar">
    <img src="{{chatSearchResults[$index + 1].chatCreator.profilePic}}" ng-click="goToProfile(chat.members[$index+1])">
    <h2 class="font-bold" ng-click="enterChat(chatSearchResults[$index])">{{chatSearchResults[$index + 1].name}}</h2>
    <p>{{chatSearchResults[$index + 1].messages[chatSearchResults[$index + 1].messages.length - 1].date}}</p>
    <p>{{chatSearchResults[$index + 1].members}}</p>
    </div>

    <div class="item item-body" ng-click="enterChat(chatSearchResults[$index + 1])">
    <img class="full-image" ng-src="{{chatSearchResults[$index + 1].image}}">
    <span ng-if="chatSearchResults[$index + 1].unreadChatmessages > 0" class="badge badge-assertive">{{chatSearchResults[$index + 1].unreadChatmessages}}</span>
    <p>
      Chat description
    </p>
    <p>
      <a href="#" class="subdued"># Favorites</a>
      <a href="#" class="subdued"># Participants</a>
    </p>
     </div>

 </div><!--end even card-->

      </div>
      </div>



    <!-------------------------------------->

  </ion-content>
  <!--<div ng-include src="'templates/home.html'"></div>-->
</ion-view>
