
/* MENU */

.menu .bar-header {
    background-color: #272727;
    border-color: #272727;
}
.menu .bar-header .button {
    color: #F45D4C;
}
.menu .list .item {
    background-color: #272727;
    border-color: #303030;
    color: #fff;
}
.menu .list .item:first-child {
    border-color: #272727;
}
.menu .list .item:last-child {
    border-bottom-color: #272727;
}
.menu .list .item .icon {
    color: #A1DBB2;
}
.menu .list .item-avatar {
    min-height: 0;
    padding-left: 0;
    text-align: center;
}
.menu .list .item-avatar > img:first-child {
    border: 5px solid #1F1F1F;
    max-height: 120px;
    max-width: 120px;
    position: static;
}
.menu .list .item-avatar h2 {
    color: #fff;
}
.menu .list .item p {
    color: #F45D4C;
}

.menu .list .item.active {
      border-left: 4px solid #ff6263;
}



/* LISTS */

.list .item {
    border-color: #EDEDED;
}
.item-divider {
    background-color: #A1DBB2;
    border-color: #fff;
    color: #fff;
}
.item-avatar .item-content > img:first-child,.card .item-avatar > img:first-child {
    border: 2px solid #f88866;
    max-width: 45px;
      max-height: 45px;
     padding: 1px;
}


.item .item-content.activated {
    background-color: #fee1a7;
    border-color: #F45D4C;
}
.item h2 {
    color: #f45d4c;
}
.item.tabs.tabs-secondary {
    background-color: #F45D4C;
    color: #fff;
}
.item.tabs.tabs-secondary .tab-item {
    border-right: 1px solid #E25546;
    opacity: 1;
}
.item.tabs.tabs-secondary .tab-item:last-child {
    border-right: 0;
}



/* INPUT FIELDS */

.item-input-wrapper {
    background: #c1c1c1;
}
.input-label {
    color: #F45D4C;
}
textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"], input[type="color"] {
    color: #696969;
}

.item-select select {
    color: #696969;
}

tags-input {
  display: block;
  width: 100%;
}

/* BUTTONS */

/*.button.button-light {
    border-color: #fff;
    color: #edf2f2;
}
.button.button-stable {
    border-color: #D8D7D7;
     color: #c1c1c1;
}
.button.button-assertive {
    border-color: #fff;
     color: #fff;
}
.button.button-positive {
    border-color: #fff;
     color: #fff;
}
.button.button-balanced {
    border-color: #A1DBB2;
    color: #A1dBB2;
}
.button.button-calm {
    border-color: #fff;
    color: #fff;
}
.button.button-royal {
    border-color:#702097;
    color: #702097;
}
.button.button-dark {
    border-color: #272727;
    color: #272727;
} */

/****button bar colors ***/



/**LOGIN SEQUENCE**/

.logo  {

    max-width: 100%;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top.25px;
}

/**** LOGIN Modal *****/

.view-login {
    background: #272727;
}
.view-login .bar-header {
    background-color: #A1DBB2
    color: #fff;
}
.view-login .logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.view-login .list-inset {
    background-color: #272727;
    margin: 20px 40px;
}
.view-login .list .item {
    background-color: #272727;
    border-color: #F45D4C;
    border-radius: 2px;
    margin:10px 0;
}
.view-login .list .item-input {
    padding: 6px 5px;
}
.view-login .list-inset .item.item-input input {
    color: #F45D4C;
    padding-right: 0px;
    text-align: center;
}
.view-login input::-webkit-input-placeholder {
      color: #F45D4C;
      text-align: center;
}
.view-login .list span {
    color: #F45D4C;
    display: block;
    text-align: center;
}



/**** editProfile Modal  **/

.view-editProfile {
    background: #272727;
     text-align: center;
}
.view-editProfile .bar-header {
    background-color: #A1DBB2
    color: #fff;
}
.view-editProfile .logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 50%;
    height: auto;
    display: inline-block;
}
.view-editProfile .list-inset {
    background-color: #272727;
    margin: 20px 40px;
}
.view-editProfile .list .item {
    background-color: #272727;
    border-color: #F45D4C;
    border-radius: 2px;
    margin:10px 0;
}
.view-editProfile .list .item-input {
    padding: 6px 5px;
}
.view-editProfile .list-inset .item.item-input input {
    color: #F45D4C;
    padding-right: 0px;
    text-align: center;
}
.view-editProfile input::-webkit-input-placeholder {
      color: #F45D4C;
      text-align: center;
}
.view-editProfile .list span {
    color: #F45D4C;
    display: block;
    text-align: center;
}


/* IMAGES and TEXT*/

.image-wrapper {
    border: 2px solid  #696969;
    max-width: 100%;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.disabled-input-style {
  font-size: 16px !important;
  font-weight: bold !important;
  opacity: 1 !important;
  background: #fff !important;
}
.profile-button {
  border-radius: 10px !important;
  height: 65px;
  margin: 10px;
}
.profileProfilePic {
  margin-left: -5px;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}
.groupDetailsPic {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  object-fit: cover;
}
.chatDetailsPic {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  object-fit: cover;
}
.groupListPic {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
}
.chatListPic {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
}
.groupComposePic {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}
.chatComposePic {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}
.groupMemberPic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.chatMemberPic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-inline-icon {
  width: 16px;
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: 5px;
}
.inline-icon {
  width: 16px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.inline-group-icon {
  width: 16px;
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: 10px;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.margin-top0 {
  margin-top: 0px !important;
}
.margin-top10 {
  margin-top: 10px !important;
}
.margin-top-5 {
  margin-top: -5px !important;
}
.margin-top-10 {
  margin-top: -10px !important;
}
.margin-top15 {
  margin-top: 15px !important;
}
.margin-top20 {
  margin-top: 20px !important;
}
.margin-top-20 {
  margin-top: -20px !important;
}
.margin-left10 {
  margin-left: 10px !important;
}
.margin-left20 {
  margin-left: 20px !important;
}
.margin-bottom20 {
  margin-bottom: 20px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.margin-bottom-5 {
  margin-bottom: -5px !important;
}
.margin-bottom-10 {
  margin-bottom: -10px !important;
}
.margin-bottom-15 {
  margin-bottom: -15px !important;
}
.margin-bottom-20 {
  margin-bottom: -20px !important;
}
.margin-right10 {
  margin-right: 10px !important;
}
.margin-right-10 {
  margin-right: -10px !important;
}
.padding-top10 {
  padding-top: 10px !important;
}
.clear-margin {
  margin: 0 !important;
}
.clear-border {
  border: 0 !important;
}
.clear-padding-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.font-bold {
  font-weight: bold !important;
}
.font-size-150 {
  font-size: 150% !important;
}
.font-size-100 {
  font-size: 100% !important;
}
.font-size-85 {
  font-size: 85% !important;
}
.float-left {
  float: left !important;
}


/* FEEDS */

.icon-view {
    display: flex;
    color: #D8D7D7;
    font-size: 1.4em;
    position: absolute;
    right: 32px;
    top: 16px;
}
.view-profile {
    background-color: #F45D4C;
}
.view-profile .list {
    margin: 0 30px;
}
.view-profile .list .item {
    background-color: #F45D4C;
    border-color: #FC7869;
    border-left: 0;
    border-right: 0;
    color: #fff;
}
.view-profile .list .item:first-child {
    border-color: #F45D4C;
}
.view-profile .list .item-avatar {
    min-height: 0;
    padding-left: 0;
    text-align: center;
}
.view-profile .item-avatar > img:first-child {
    border: 5px solid #FC7869;
    max-height: 120px;
    max-width: 120px;
    position: static;
}
.view-profile .list .item-avatar h2, .view-profile .list .input-label {
    color: #fff;
}
.view-profile .list .item p, .view-profile .list input {
    color: #c1c1c1;
}
.view-login {
    background: #272727;
}
.view-login .bar-header {
    background-color: #272727;
    color: #fff;
}
.view-login .logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.view-login .list-inset {
    background-color: #272727;
    margin: 20px 40px;
}
.view-login .list .item {
    background-color: #272727;
    border-color: #F45D4C;
    border-radius: 2px;
    margin:10px 0;
}
.view-login .list .item-input {
    padding: 6px 5px;
}
.view-login .list-inset .item.item-input input {
    color: #F45D4C;
    padding-right: 0px;
    text-align: center;
}
.view-login input::-webkit-input-placeholder {
      color: #F45D4C;
      text-align: center;
}
.view-login .list span {
    color: #F45D4C;
    display: block;
    text-align: center;
}


/*** BADGE ***/

.item .icon .icon-badge {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 8px;
}

/* MESSAGES LIST */

/* Messages List */

.item-border-off .item:first-child {
  border-top: 0;
}
.time-list {
  color: #a3a3a3 !important;
  font-size: 12px !important;
  padding-left: 25px;
  position: absolute;
  right: 12px;
  top: 5px;
}
.time-list .icon {
  left: 0;
}
.time-list .icon:before {
  color: #a3a3a3;
  font-size: 12px;
  width: 12px;
}
.online-on, .online-off {
  background: #f88886;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  margin-left: 6px;
  vertical-align: middle;
  width: 9px;
}
.online-off {
  background: #E8E8E8;
}
.item-avatar img {
  width: 100% !important;
  height: 100% !important;
  max-width: 60px !important;
  max-height: 60px !important;
  min-height: 60px !important;
  min-width: 60px !important;
  object-fit: cover;
  margin-left: -6px;
  margin-top: -8px;
}

.item-avatar-mast img {
  width: 100% !important;
  height: 100% !important;
  max-width: 130px !important;
  max-height: 130px !important;
  min-height: 130px !important;
  min-width: 130px !important;
  object-fit: cover;
  margin-left: -6px;
  margin-top: -8px;
}
.item-avatar h2 {
  font-size: 105%;
  margin-left: 10px;
  color: #353535;
}
.item-avatar p {
  font-size: 95%;
  margin-left: 10px;
  color: #353535;
}
.button-header, .button-header .icon:before {
  font-size: 25px !important;
  border: 0px;
}
.item-chat {
  margin-top: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid #f5f5f5;
  border-width: 1px;
}
.larger-clear {
  font-size: 110%;
}
.larger-clear a {
  text-decoration: none;
  color: #ff2f30;
}

/* Messages */

.item-chat p a {
  text-decoration: none;
}
.messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.messages li {
  display: block;
  clear: both;
  max-width: 80%;
  margin: 0 0 1rem 0;
  padding: 0;
}
.messages p {
  border-radius: .75rem;
  background: #e6e5eb;
  color: #383641;
  padding: .6875rem;
  margin: 0;
  font-size: .875rem;
}
.messages img {
  display: block;
  border-radius: .75rem;
  min-width: auto !important;
  min-height: auto !important;
  object-fit: cover;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages .other {
  float: right;
}
.messages .self {
  float: left;
}
.messages .other, .messages .self {
  display: flex;
  margin: 0 0 1rem 0;
  padding: 0;
}
.messages .other a {
  text-decoration: none;
  font-weight: bold;
}
.messages .self a {
  text-decoration: none;
  font-weight: bold;
}
.messages .other .avatar, .messages .self .avatar {
  height: 60px;
  min-width: 60px;
  width: 60px;
  min-height: 60px;
}
.messages .other .avatar img, .messages .self .avatar img {
  border-radius: 50%;
  max-width: 100%;
}
.messages .other .msg, .messages .self .msg {
  margin-left: 10px;
}
.messages .other .msg p, .messages .self .msg p {
  background: #f88866;
  border-radius: .3rem;
  region-break-after: ;
  color: #fff;
  font-size: .875rem;
  margin: 0;
  padding: .6875rem;
  position: relative;
}
.messages .other .msg p:after, .messages .self .msg p:after {
  border-color: transparent #f88866;
  border-style: solid;
  border-width: 6px 5px 6px 0;
  content: '';
  display: block;
  left: -5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 1;
}
.messages .other .msg img, .messages .self .msg img {
  display: block;
  border-radius: .75rem;
  max-width: 265px;
  max-height: 150px;
}
.messages .other .msg time, .messages .self .msg time {
  color: #A1A1A1;
  float: right;
  font-size: 0.8rem;
  margin-top: 3px;
}
.messages .other {
  justify-content: flex-end;
}
.messages .other .avatar {
  order: 2;
}
.messages .other .msg {
  margin-left: inherit;
  margin-right: 10px;
}
.messages .other .msg p {
  background: #e8e8e8;
  color: #6f6f6f;
  order: 1;

}
.messages .other .msg p:after {
  border-color: transparent #e8e8e8;
  border-width: 6px 0 6px 5px;
  left: inherit;
  right: -5px;
}
.messages .other .msg img {
  order: 1;
  //float: right;
}
.messages .self .msg time {
  float: right;
}
.messages .other .msg time {
  float: left;
}
.scroll-bar-indicator {
  display: none;
}

/* MORE FROM FIRELINE */

item-input {
  margin-bottom: 10px;
  border-radius: 5px;
}
.item-clear {
  border: 0px;
}
.button {
  border-radius: 5px;
}
.button-no-margin-top {
  margin-top: 0px !important;
}
.spinner svg {
  width: 56px;
  height: 56px;
  stroke: #fff;
  fill: #fff;
}
.image-popup .popup {
  text-align: center;
  width: 100% !important;
  height: auto !important;
  background: rgba(0, 0, 0, 1);
}
.image-popup .popup-head {
  display: none;
}
.image-popup .popup-buttons {
  position: absolute;
  top: -2.5% !important;
  left: 85% !important;
}
.image-popup .button-confirm {
  color: rgba(255, 255, 255, 0.75);
  background: none;
  border: 0px;
}
.message-confirm .popup {
  width: 225px !important;
  height: auto !important;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px !important;
  font-size: 120%;
  line-height: 160%;
  text-align: center;
}
.message-confirm .popup-head {
  border: 0px !important;
}
.message-confirm .popup-title {
  color: #fff;
  font-size: 200%;
  margin-bottom: -20px;
}
.message-confirm .button-confirm {
  color: #fff;
  background: none;
  border: 0px;
}
.message-popup {
  width: 225px;
  height: auto;
  border-radius: 50px !important;
}
.message-popup p {
  line-height: 160%;
  font-size: 110%;
}
.loading {
  border-radius: 10px !important;
}
.profilePic {
  width: 96px;
  height: auto;
  border-radius: 150px;
  margin-top: 75px;
}
.bold {
  font-weight: bolder;
}
.line-height-160 {
  line-height: 160%;
}
h4 a {
  text-decoration: none;
}
.larger-clear {
  font-size: 110%;
}
.larger-clear a {
  text-decoration: none;
}
.item-input-wrapper {
  background: #fff;
  margin-right: -30px !important;
}
/* Search Bar */

.item-searchbar {
  border: 0;
  margin-bottom: 15px !important;
}
.item-searchbar i {
  margin-right: 10px;
  font-size: 20px;
}

/* Tabs */

.tab-item {
  color: #ffc900 !important;
  opacity: 0.5;
}




/* PROFILE */

.view-profile {
    background-color: #F45D4C;
}
/*.view-profile .list {
    margin: 0 30px;
}
.view-profile .list .item {

    border-left: 0;
    border-right: 0;
    color: #fff;
}
.view-profile .list .item:first-child {

} */

.view-profile .list {
  margin: 20px 40px 0;
}
.view-profile .list .item {
    background-color: #F45D4C;
    border-color: #FC7869;
    border-left: 0;
    border-right: 0;
    color: #fff;
}
 .view-profile .list .item:first-child {
      border-top: none;
      border-color: #F45D4C;
}
.view-profile .list .item .input-label {
      color: #ff6263;
      font-size: 14px;
}
.view-profile .list .item input {
      color: #242466;
      height: 25px;
}
.view-profile .list .item-input {
    padding: 6px 0;
}

.view-profile .list .item-avatar {
    min-height: 0;
    padding-left: 0;
    text-align: center;
}
.view-profile .item-avatar > img:first-child {
    border: 5px solid #FC7869;
    max-height: 120px;
    max-width: 120px;
    position: static;
}

.view-profile .item-avatar-mast > img:first-child {
    border: 5px solid #FC7869;
    max-height: 120px;
    max-width: 120px;
    position: static;
}

.view-profile .list .item-avatar-mast {
    min-height: 0;
    padding-left: 0;
    text-align: center;
}
.view-profile .item-avatar-mast > img:first-child {
    border: 5px solid #FC7869;
    max-height: 120px;
    max-width: 120px;
    position: static;
}
.view-profile .list .item-avatar h2, .view-profile .list .input-label {
    color: #fff;
}
.view-profile .list .item p, .view-profile .list input {
    color: #c1c1c1;
}

.view-profile .profile-bg .item {
  background-color: #ff6263;
  border: 0;
}

.view-profile .profile-bg .item-avatar {
  min-height: 0;
  padding-left: 0;
  text-align: center;
}
.view-profile .profile-bg .item-avatar .content-img {
    display: inline-block;
    position: relative;
}
.view-profile .profile-bg .item-avatar .content-img img {
      border: 5px solid #FF8182;
      border-radius: 50%;
      max-height: 130px;
      max-width: 130px;
      position: static;
}

.view-profile .profile-bg .item-avatar .content-img .bg-img {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      height: 130px;
      left: 5px;
      position: absolute;
      top: 5px;
      width: 130px;
}

.view-profile .profile-bg .item-avatar .content-img .bg-img:before {
        color: #f8f8f8;
        content: "\f3f5";
        font-family: "Ionicons";
        font-size: 3em;
        position: relative;
        top: 45px;
}
  .view-profile .profile-bg .item-avatar h2 {
    color: #fff;
}
  .view-profile .profile-bg .item-avatar p {
    color: #A63A3B;
}

.view-profile .profile-bg .item-avatar-mast {
  min-height: 0;
  padding-left: 0;
  text-align: center;
}
.view-profile .profile-bg .item-avatar-mast .content-img {
    display: inline-block;
    position: relative;
}
.view-profile .profile-bg .item-avatar-mast .content-img img {
      border: 5px solid #FF8182;
      border-radius: 50%;
      max-height: 130px;
      max-width: 130px;
      position: static;
}

.view-profile .profile-bg .item-avatar-mast .content-img .bg-img {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      height: 130px;
      left: 5px;
      position: absolute;
      top: 5px;
      width: 130px;
}

.view-profile .profile-bg .item-avatar-mast .content-img .bg-img:before {
        color: #f8f8f8;
        content: "\f3f5";
        font-family: "Ionicons";
        font-size: 3em;
        position: relative;
        top: 45px;
}
  .view-profile .profile-bg .item-avatar-mast h2 {
    color: #fff;
    font-weight: bolder;
}
  .view-profile .profile-bg .item-avatar-mast p {
    color: #fff;
      font-weight: normal;
}


.view-profile .button-bar .button {
  background-color: #E84D4D;
  border: 0;
  border-right: 1px solid #ff6263;
  color: #FFA6A7;
  padding: 10px 16px;
}

.view-profile .button-bar .button:first-child {
    border-radius: 0;
}

.view-profile .button-bar .button:last-child {
    border-right: 0;
    border-radius: 0;
}

.view-profile .button-bar .button h2 {
    color: #fff;
    font-size: 22px;
    margin: 0;
}

.view-profile .button-bar .button p {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #FFA6A7;
}


/* GIPHY */
.has-giphy.show-gif  .ion-content bottom: {
        156px;

}

.giphy-container {
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: 44px;
  border-top: 1px solid #ddd;
  background-color: white;
}

.giphy-container .scroll-horizontal {
    white-space: nowrap;
    padding: 6px;

}
.scroll-item {
      display: inline-block;
      float: static;
}
.scroll-item img {
        border-radius: 6px;
        margin-right: 6px;
}

.timestamp {
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
}

.b-none {
  border: none;

}
.no-bg {
  background-color: transparent;

}
/* end of GIPHY */

/* Elastic textarea */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
    width: 100%;
    background-color: transparent;
}

.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
}
/* end of Elastic textarea */

/* EmojiOne*/

img.emojione {
  width: 30px;
  height : 30px;
}

.item-avatar img.emojione {
    width: 30px !important;
    height : 30px  !important;
    min-width: 30px !important;
    min-height: 30px !important;
    margin-left: 3px;
}
/* MODALS  and  Field Info Buttons*/

.field-info-wrapper {
/* Must use relative position so that absolute position can be used on the icon*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.field-info-icon {
  position: absolute;
  color: #87C6FD;
  font-size: 16px;
/* Put the icon above the z-index of the content or it won't be clickable*/
  z-index: 4;
/* Make sure the icon has plenty of /tappable area*/
  padding: 10px;
  top: -5px;
  right: 9px;
}

.field-info-wrapper.field-info-checkbox .field-info-icon {
  top: 5px;
}

.field-info-wrapper .item-toggle .toggle {
  right: 55px;
}

.field-info-wrapper .item-toggle, .item-toggle.item-complex .item-content {
  padding-right: 115px;
}

.input-label {
  font-size: 15px;
  color: #BBB;
  font-weight: 500;
}

label.item {
  border-left: 10px solid $light;
  border-right: 4px solid $light;
  padding: 0 16px 0 10px;
  border-top: 0;
  border-bottom: 0;
}

.item.item-toggle {
  padding-left: 20px;
  border-style: none;
  margin-top: -12px;
  margin-bottom: 2px;
  font-size: 15px;
  color: #BBB;
  font-weight: 500;
}

/* Custom style colors for toggle */
.toggle.toggle-my-theme input:checked + .track {
    border-color: #0081C6;
    background-color: #0081C6;
}


.toggle-text > .track {

  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  border: 0;
  height: 30px;
  background: #9e9e9e;
}

.toggle-text .handle {
  left: 6px;
}

.toggle-text .handle-text {
  font-size: 24px;
  color: white;
  position: absolute;
  top: -5px;

}

.toggle-text .handle-text-false {
  left: 36px;
}

.toggle-text input:checked + .track .handle {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: calc(100% - 34px);
}
.track-text {
  line-height: 26px;
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Extras  */
.home-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.home-container .row-box {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.home-container .column-box {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     height: 100%;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
home-container .column-box  row {
    -webkit-flex: 1;
    -webkit-align-items: center;
}

/* CHAT and USER TAG STYLING */

.chatTags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    display: inline-block;
    width: 19%;

}
 li.chatTag {
  background:  #A1DBB2;
  border: 1px solid  #A1DBB2;
  border-radius: 4px;
  color: #fff;
}

.userTags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    display: inline-block;
    width: auto;
    line-height:  30px;

}

 li.userTag {
  background:  #A1DBB2;
  border: 1px solid  #A1DBB2;
  border-radius: 4px;
  color: #fff;
  text-align:  center;
  padding-right:  10px;
  padding-left: 5px;

}

.bar-divider {

  border-top-width: 0;
  border-bottom-width: 1px;
 margin-top:10px;
 margin-bottom: 10px;
}



img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

/* arrrange cards in rows */

.row.unlimited-items {
 -webkit- flex-wrap: wrap;
}

.row.unlimited-items .col{
  -webkit-flex: none;
  width: 50%;
}

.gallery {
   -webkit- flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery .col {
  -webkit-flex: none;
  width: 50%;
}

.responsive-card {
    width: 100%;
    float: left;
}

@media screen and (min-width: 768px) {
    .responsive-card {
        width: 25%;
    }
}

